<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create Discussion</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="dlgCtrl.cancel()">
        <md-icon class="material-icons">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <md-content class="md-padding" style="width:500px">
      <form name="loginForm" ng-submit="dlgCtrl.submit('/login')">
        <div style="margin-bottom:5px"><h2>Login</h2></div>
        <md-input-container class="md-block">
          <md-icon class="material-icons">email</md-icon>
          <input ng-model="dlgCtrl.data.email" type="email" name="email" placeholder="Email" required>
        </md-input-container>
        <md-input-container class="md-block" style="margin-bottom:7px">
          <md-icon class="material-icons">vpn_key</md-icon>
          <input ng-model="dlgCtrl.data.password" type="password" name="password" placeholder="Password" required>
        </md-input-container>
        <div style="color: red; font-style: italic;">{{dlgCtrl.message}}</div>
        <md-button type="submit" class="md-accent md-raised" ng-disabled="loginForm.$invalid">Login</md-button>
      </form>
    </md-content>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="dlgCtrl.redirect('/auth/facebook')">
      <i class="fa fa-facebook-official"></i>
      Login with Facebook
    </md-button>
  </md-dialog-actions>
</md-dialog>