<md-dialog>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Create Discussion</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="dlgCtrl.cancel()">
        <md-icon class="material-icons">close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content style="max-width:800px;max-height:810px; ">
    <md-content class="md-padding" style="width:500px">
      <form name="discussionForm" ng-submit="dlgCtrl.submit('/createDiscussion', main)">

        <md-input-container class="md-block" style="margin-bottom:18px; margin-top:7px" md-no-float>
          <md-icon class="material-icons">storage</md-icon>
          <md-select ng-model="dlgCtrl.data.category" placeholder="Select a Category" class="md-no-underline" required
                      style="margin-left: 3px; margin-top: 3px;">
            <md-option value="{{option.val}}" ng-repeat="option in dlgCtrl.options">{{option.text}}</md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block no-error" style="margin-bottom:18px; margin-top:7px">
          <md-icon class="material-icons">text_fields</md-icon>
          <input ng-model="dlgCtrl.data.name" type="text" name="name" placeholder="Name of Discussion" required>
        </md-input-container>
        
        <md-input-container class="md-block no-error" style="margin-bottom:7px; margin-top:7px">
          <md-icon class="material-icons">mode_edit</md-icon>
          <textarea ng-model="dlgCtrl.data.description" type="text" name="description" placeholder="Description" rows="3" required></textarea>
        </md-input-container>

        <div style="color: red; font-style: italic;">{{dlgCtrl.message}}</div>
        <div layout="row" layout-align="end center">
          <md-button type="submit" class="md-accent md-raised" ng-disabled="discussionForm.$invalid">Create Discusion</md-button>
        </div>
      </form>
    </md-content>
  </md-dialog-content>
</md-dialog>