<header>
  <md-toolbar id="nemoo-toolbar">
    <div class="md-toolbar-tools">
      <md-button aria-label="Menu" ng-click="header.togglePanel();">
        <md-icon class="material-icons">menu</md-icon>
      </md-button>
      <h1 style="cursor: default;"> Nemoo </h1>
      <span flex></span>
      <span hide show-gt-sm style="padding-right: 15px;" class="ellipsis" ng-bind="header.state.user.displayName"></span>
      <img hide show-gt-sm ng-src="{{header.state.user.profilePic}}" style="border-radius: 50%; width: 50px; height: 50px" 
          ng-style="{'background-color': '{{header.state.user.backgroundColor}}' } "/>

      <div hide show-gt-sm>
        <md-button ng-click="header.softRedirect('/')" style="padding-right: 15px">Home</md-button> 
        <md-button ng-hide="header.state.loggedIn" ng-click="header.showTabDialog($event, 0)" style="padding-right: 15px">Login</md-button> 
        <md-button ng-hide="header.state.loggedIn" ng-click="header.showTabDialog($event, 1)" style="padding-right: 15px">Signup</md-button> 
        <md-button ng-show="header.state.loggedIn" ng-click="header.hardRedirect('/logout')" style="padding-right: 15px">Logout</md-button> 
      </div>
    </div>
  </md-toolbar>
    <div layout="column" style="height: calc(100vh - 64px);">
      <section layout="row" flex>
        <md-sidenav
            class="md-sidenav-left"
            md-component-id="left"
            md-is-open="header.open"
            md-is-locked-open="$mdMedia('gt-sm') && header.open"
            md-whiteframe="4">
          <md-toolbar  class="md-primary">
            <h1 hide-gt-xs class="md-toolbar-tools"> {{header.state.user.displayName}} 
              <img ng-src="{{header.state.user.profilePic}}" style="border-radius: 50%; width: 50px; height: 50px; margin-left: 10px;" 
                  ng-style="{'background-color': '{{header.state.user.backgroundColor}}' } "/>
            </h1>
            <p hide-xs style="text-align: center;"> {{header.state.currentNumOnline}} users today</p>
          </md-toolbar>
          <div style="border-bottom: 1px solid lightgrey;">
            <nemoo-search-box></nemoo-search-box>
          </div>

          <md-content id="perfect-scroll" style="overflow-x: hidden; height: 100%;">
            <nemoo-panel></nemoo-panel>
          </md-content>
        </md-sidenav>
        <md-content flex layout-padding ng-view> </md-content>
      </section>
    </div>
</header>
<div id="loadingAnimation" style="width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; display: none; z-index: 999; background-color: white; opacity: 0.4;">
  <md-progress-circular style="top: 50%; left: 50%;" md-mode="indeterminate"></md-progress-circular>
</div>