<div layout="row" layout-align="center center" style="margin-bottom: 0px;">
	<h1 style="margin-bottom: 0px;">Welcome to Nemoo!</h1>
</div>
<div>
	<p hide show-gt-xs style="font-weight: 300; line-height: 1.4; font-size: 20px; padding-left: 20px; text-align: justify;">
		<img src="/images/logo.png" style="float: right; display: inline-block; max-height: 100%; max-width: 20%; width: auto; height: auto; margin-left: 20px; margin-right: 20px;">
	  Welcome to Nemoo, a friendly and vibrant community where you can interact anonymously or using an account
	  with strangers and friends. Similar to a real-time Reddit, you can create discussions about topics that you
	  are interested in and quickly message others with very little wait time. <br/><br/>
	  If you enjoy using this site, please share it and like us on <a href="https://www.facebook.com/nemoo27"> Facebook</a>. <br/>Keep on exploring!
	</p>
	<p hide-gt-xs style="font-weight: 300; line-height: 1.4; font-size: 20px; padding-left: 20px; text-align: justify;">
		<img src="/images/logo.png" style="float: right; display: inline-block; max-height: 100%; max-width: 25%; width: auto; height: auto; margin-left: 20px; margin-right: 20px;">
	  Welcome to Nemoo, a friendly and vibrant community where you can interact anonymously or using an account
	  with strangers and friends. Similar to a real-time Reddit, you can create discussions about topics that you
	  are interested in and quickly message others with very little wait time. <br/><br/>
	  If you enjoy using this site, please share it and like us on <a href="https://www.facebook.com/nemoo27"> Facebook</a>. Keep on exploring!
	</p>
</div>