<md-list style="padding: 0px;">
  <md-divider></md-divider>
  <md-subheader>General</md-subheader>
  <md-divider></md-divider>
  <nemoo-user-nav-panel></nemoo-user-nav-panel>
  <md-item ng-repeat="item in panelCtrl.general | filter: panelCtrl.removeSettings(main.loggedIn)">
      <a ng-click="panelCtrl.unfocus($event, item)">
      <md-item-content md-ink-ripple layout="row" layout-align="start center" style="cursor: pointer;" >
        <div class="inset">
          <md-icon class="material-icons">{{item.icon}}</md-icon>
        </div>
        <div class="inset">{{item.title}} </div>
      </md-item-content>
      </a>
  </md-item>
  <md-divider></md-divider>
  <md-subheader>Trending</md-subheader>
  <md-divider></md-divider>
  <md-item ng-repeat="item in panelCtrl.trending">
    <a ng-click="panelCtrl.unfocus($event, item)">
      <md-item-content md-ink-ripple layout="row" layout-align="start center" style="cursor: pointer;">
        <div class="inset">{{item.title}} </div>
      </md-item-content>
      <md-divider></md-divider>
    </a>
  </md-item>
</md-list>