<md-content>
  <form ng-submit="$event.preventDefault()" style="overflow: hidden;" layout="row">
    <md-icon class="material-icons">search</md-icon>
    <div flex>
    <md-autocomplete
        md-no-cache="true"
        md-selected-item="searchBoxCtrl.selectedItem"
        md-search-text-change="searchBoxCtrl.searchTextChange(searchBoxCtrl.searchText)"
        md-search-text="searchBoxCtrl.searchText"
        md-selected-item-change="searchBoxCtrl.selectedItemChange(item)"
        md-items="item in searchBoxCtrl.querySearch(searchBoxCtrl.searchText)"
        md-item-text="item.displayName"
        md-min-length="3"
        placeholder="Search for a discussion"
        ng-model-options="{debounce: 500}"
        md-menu-class="autocomplete-template">
    
      <md-item-template>
        <span class="item-title ellipsis">
          <i class="fa fa-angle-double-right"></i>
          <strong ng-bind="item.displayName"></strong><span ng-bind="' (' + item.category + ')'"></span>
        </span>
        <span class="item-metadata ellipsis">
          <span class="item-metastat">
            <span>{{item.description}}</span>
          </span>
        </span>
      </md-item-template>
    </md-autocomplete>
    </div>
  </form>
</md-content>
