<!-- <md-input-container layout-padding md-no-float>
  <input class="nemoo-search-box" ng-model="searchBoxCtrl.title" placeholder="Search discussions">
</md-input-container> -->

<md-content>
  <form ng-submit="$event.preventDefault()" style="overflow: hidden;" layout="row">
    <md-icon class="material-icons">search</md-icon>
    <div flex>
    <md-autocomplete
        ng-disabled="searchBoxCtrl.isDisabled"
        md-no-cache="searchBoxCtrl.noCache"
        md-selected-item="searchBoxCtrl.selectedItem"
        md-search-text-change="searchBoxCtrl.searchTextChange(searchBoxCtrl.searchText)"
        md-search-text="searchBoxCtrl.searchText"
        md-selected-item-change="searchBoxCtrl.selectedItemChange(item)"
        md-items="item in searchBoxCtrl.querySearch(searchBoxCtrl.searchText)"
        md-item-text="item.name"
        md-min-length="0"
        placeholder="Search for a discussion"
        md-menu-class="autocomplete-custom-template">
    
      <md-item-template>
        <span class="item-title">
          <i class="fa fa-github"></i>
          <span> {{item.name}} </span>
        </span>
        <span class="item-metadata">
          <span class="item-metastat">
            <strong>{{item.watchers}}</strong> watchers
          </span>
          <span class="item-metastat">
            <strong>{{item.forks}}</strong> forks
          </span>
        </span>
      </md-item-template>
    </md-autocomplete>
    </div>
  </form>
</md-content>
