<!DOCTYPE html>

<!-- define angular app -->
<html ng-app="App">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Nemoo</title>
  <meta name="description" content="Interact anonymously or using an account with strangers and friends by creating discussions about topics that you are interested similar to a real-time Reddit.">

  <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.0.0.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- load angular via CDN -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-route.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-sanitize.min.js"></script>

  <!-- Angular Material Library -->
  <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  
  <!-- Popover -->
  <script src="https://cdn.jsdelivr.net/jquery.webui-popover/2.1.15/jquery.webui-popover.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/jquery.webui-popover/2.1.15/jquery.webui-popover.min.css">

  <!-- Emojify -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/emojify.js/1.1.0/js/emojify.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.12/js/perfect-scrollbar.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.6.12/css/perfect-scrollbar.min.css">
  
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/emojify.min.css">
  <link rel="stylesheet" href="/stylesheets/emojify-small.min.css">
  <link rel="stylesheet" href="/stylesheets/angular-dropdowns.min.css">
  <script src="/javascripts/libs/angular-dropdowns.min.js"></script>

  <!-- <script src="/javascripts/templates.js"></script> -->
  <script src="/javascripts/initApp.js"></script>
  <script src="/javascripts/stateService.js"></script>
  <script src="/javascripts/authenticationDialogCtrl.js"></script>
  <script src="/javascripts/loaderAnimationService.js"></script>
  <script src="/javascripts/optimizationService.js"></script>
  <script src="/javascripts/toastManagerService.js"></script>
  <script src="/javascripts/searchBoxCtrl.js"></script>
  <script src="/javascripts/panelCtrl.js"></script>
  <script src="/javascripts/userNavPanelCtrl.js"></script>
  <script src="/javascripts/discussionDialogCtrl.js"></script>
  <script src="/javascripts/headerCtrl.js"></script>
  <script src="/javascripts/messageInputCtrl.js"></script>
  <script src="/javascripts/messageAdditionalOptionsCtrl.js"></script>
  <script src="/javascripts/additionalOptionsDropdownCtrl.js"></script>
  <script src="/javascripts/discussionCtrl.js"></script>
  <script src="/javascripts/mainCtrl.js"></script>
  <script src="/javascripts/ga.js"> </script>
</head>

<!-- define angular controller -->
<body ng-controller="MainCtrl as main" 
      ng-init="main.init(<%=JSON.stringify(user)%>, <%=loggedIn%>, <%=currentNumOnline%>)" 
      class="ng-cloak">
      <nemoo-header></nemoo-header>
</body>

</html>
