<!-- LOGIN FORM -->
<form ng-submit="ctrl.processForm('/login')">
    <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" ng-model="ctrl.formData.email">
    </div>
    <div class="form-group">
        <label>Password</label>
        <input type="password" class="form-control" ng-model="ctrl.formData.password">
    </div>

    <button type="submit" class="btn btn-warning btn-lg">Login</button>
</form>
<div>{{mctrl.message}}</div>
<div>{{ctrl.secondMessage}}</div>