[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.ellipsis {
	text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

md-tooltip.custom-tool-tip .md-content {
    height: auto;
    white-space: normal;
    background-color: rgba(0,0,0,1.0);
    font-size: 12px;
}

md-tooltip.custom-tool-tip {
    max-width: 400px;
}

.no-error > .md-errors-spacer {
	display: none;
}

md-item-content[md-ink-ripple] {
  position: relative;
}

.fa.greyFA {
  font-size: 20px;
  color: rgba(0,0,0,0.54);
}

p > img.emoji {
  margin-bottom: 0px;
}

.autocomplete-template li {
  border-bottom: 1px solid #ccc;
  height: auto; }

.autocomplete-template li:last-child {
  border-bottom-width: 0; }

.autocomplete-template .item-title,
.autocomplete-template .item-metadata {
  display: block;
  line-height: 2; }